<meta charset="UTF-8">

<div class="row">
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-8">
				<div class="form-group ">
					<label>Tags</label>
					<tags-input ng-model="sku.tags" display-property="nome"
						placeholder="Adicionar Tag" add-from-autocomplete-only="true">
					<auto-complete source="loadTags($query)"></auto-complete> </tags-input>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<input type="checkbox" id="idAuto" class="form-control"
						ng-model="sku.automatica" name="automatica" /><label for="idAuto"><span></span>Automática</label>
				</div>
			</div>

		</div>
		<div class="row">

			<div class="col-md-4">
				<div class="form-group ">
					<label>Item</label> <select class="form-control"
						ng-options="item as item.nome for item in listaItens track by item.id"
						ng-model="sku.item"></select>
				</div>
			</div>

			<div class="col-md-2">
				<div class="form-group ">
					<label>Classe</label> <select class="form-control" name="classe"
						id="classe" ng-model="sku.classe">
						<option ng-repeat="option in listaStatus" ng-value="option.nome">{{option.nome}}</option>
					</select>
				</div>
			</div>

			<div class="col-md-2">
				<div class="form-group">
					<label>Data de maturidade</label> <input type="date"
						class="form-control" ng-model="sku.dataMaturidade"
						name="dataMaturidade" />
				</div>
			</div>

			<div class="col-md-2">
				<div class="form-group">
					<label>Data de Descontinuação</label> <input type="date"
						class="form-control" ng-model="sku.dataDescontinuacao"
						name="dataDescontinuacao" />
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<div class="form-group ">
					<label>Tipos de Planejamento</label> <select class="form-control"
						disabled="true" name="modelo" id="modelo" ng-model="sku.modelo">
						<option ng-repeat="option in listaPlanejamentos"
							ng-value="option.nome">{{option.nome}}</option>
					</select>
				</div>
			</div>

			<div class="col-md-3">
				<div class="form-group large-padded-row">
					<label>Tipos de Reposição</label> <select class="form-control"
						name="status" id="status" ng-model="sku.status">
						<option ng-repeat="option in listaReposicoes"
							ng-value="option.nome">{{option.nome}}</option>
					</select>

				</div>
			</div>
			
			<div class="col-md-2">
				<div class="form-group large-padded-row">
					<label>Nível de Serviço</label> 
					<input type="number" max="3.72" min="0.25"
						class="form-control" ng-model="sku.nivelServico"
						name="nivelServico" />
				</div>
			</div>
			
			<div class="col-md-2">
				<div class="form-group large-padded-row">
					<label>Lote de Reposição (ddv)</label> 
					<input type="number" 
						class="form-control" ng-model="sku.loteReposicao"
						name="loteReposicao" />
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<label>Frequência de análise</label>
				<div class="form-group">
					<div class="col-md-1" ng-repeat="dia in diasDaSemana">

						<input type="checkbox" id="id{{dia}}" class="form-control"
							ng-model="dia.checked"
							ng-change="checkedOrNot(dia.id, dia.checked, $index)" /><label
							for="id{{dia}}"><span></span>{{dia.value}}</label>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-10">
				<div class="form-group">
					<label>Descrição</label>
					<textarea name="descricao" class="form-control"
						ng-model="sku.descricao" />
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-2">
		<div class="form-group">
			<label>Estoque Máximo</label> {{sku.estoqueMaximo | number}}
		</div>
		<div class="form-group">
			<label>Estoque de Segurança</label> {{sku.estoqueSeguranca | number}}
		</div>
		<div class="form-group">
			<label>Estoque Atual</label> {{sku.estoqueAtual | number}}
		</div>
	</div>
</div>