
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-3"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/private/sku/sku-view"> <span
				class="glyphicon glyphicon-chevron-left btn-xs" aria-hidden="true"></span>
			</a>
		</div>
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-3">
			<button type="submit" class="btn btn-primary btn-sm navbar-btn">
				<span class="glyphicon glyphicon-check"></span> Salvar
			</button>
			<button type="submit" class="btn btn-danger btn-sm navbar-btn">
				<span class="glyphicon glyphicon-ok"></span> Salvar & Fechar
			</button>
			<button type="button" class="btn btn-success btn-sm navbar-btn"
				data-toggle="modal" data-target="#idModalOrigem">
				<span class="glyphicon glyphicon-book"></span> Adicionar Origem
			</button>

		</div>
	</div>
</nav>
<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>
<div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
	<ul id="myTabs" class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a data-target="#detalhe"
			id="detalhe-tab" role="tab" data-toggle="tab" aria-controls="detalhe"
			aria-expanded="true">Detalhe</a></li>
		<li role="presentation" class=""><a data-target="#origem"
			role="tab" id="origem-tab" data-toggle="tab" aria-controls="origem"
			aria-expanded="false">Origem</a></li>
		<li role="presentation" class=""><a data-target="#pedidos"
			role="tab" id="pedidos-tab" data-toggle="tab" aria-controls="pedidos"
			aria-expanded="false">Pedidos</a></li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div role="tabpanel" class="tab-pane fade active in" id="detalhe"
			aria-labelledby="detalhe-tab" style="margin: 30px">

			<div ng-include="'private/sku/sku-tab-detalhe'" />

		</div>
		<div role="tabpanel" class="tab-pane fade" id="origem"
			aria-labelledby="origem-tab" style="margin: 30px">

			<div ng-include="'private/sku/sku-tab-origem'" />

		</div>
		<div role="tabpanel" class="tab-pane fade" id="pedidos"
			aria-labelledby="pedidos-tab" style="margin: 30px">

			<div ng-include="'private/sku/sku-tab-pedidos'" />

		</div>
	</div>
</div>





