<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div ng-controller="DummyController">
	<div class="bs-example" data-example-id="simple-jumbotron">
		<div class="jumbotron">
			<div class="container">
				<h1>Bem vindo ao BRM!</h1>
				<p>Este é um sistema de planejamento e gerenciamento de recurso
					da cadeia de suprimentos, utilizado para monitoramento visando um
					melhor aproveitamento.</p>
				<p>
					<a href="javascript:void(0);" class="btn btn-primary btn-lg"
						onclick="javascipt:window.open('teste.pdf');" class="popup">Saiba
						mais!</a>
				</p>
			</div>
		</div>
	</div>
</div>