
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-3"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/private/dfu/dfu-view"> <span
				class="glyphicon glyphicon-chevron-left btn-xs" aria-hidden="true"></span>
			</a>
		</div>
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-3">
			<button ng-click="save(false)" class="btn btn-primary btn-sm navbar-btn">
				<span class="glyphicon glyphicon-check"></span> Salvar
			</button>
			<button ng-click="save(true)"
				class="btn btn-danger btn-sm navbar-btn">
				<span class="glyphicon glyphicon-ok"></span> Salvar & Fechar
			</button>
			<button type="button" class="btn btn-success btn-sm navbar-btn"
				data-toggle="modal" data-target="#idModalRelacao">
				<span class="glyphicon glyphicon-book"></span> Adicionar Relação de
				Sku
			</button>
		</div>
	</div>
</nav>
<div class="page-header text-center">
	<h1>Cadastro Dfu</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>

<div class="row">
	<div class="col-md-6">
		<div class="form-group ">
			<label>Tags</label>
			<tags-input ng-model="dfu.tags" display-property="nome"
				placeholder="Adicionar Tag" add-from-autocomplete-only="true">
			<auto-complete source="loadTags($query)"></auto-complete> </tags-input>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="form-group ">
			<label>Item</label> <select class="form-control"
				ng-options="item as item.nome for item in listaItens track by item.id"
				ng-model="dfu.item"></select>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-2">
		<div class="controls form-group has-feedback">
			<label>Data de maturidade</label> <input type="date"
				class="form-control" ng-model="dfu.dataMaturidade"
				name="dataMaturidade" />
		</div>
	</div>

	<div class="col-md-2">
		<div class="controls form-group has-feedback">
			<label>Data de lançamento</label> <input type="date"
				class="form-control" ng-model="dfu.dataLancamento"
				name="dataLancamento" />
		</div>
	</div>

	<div class="col-md-2">
		<div class="controls form-group has-feedback">
			<label>Data de Descontinuação</label> <input type="date"
				class="form-control" ng-model="dfu.dataDescontinuacao"
				name="dataDescontinuacao" />
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="form-group ">
			<label>Classe</label> <select class="form-control" name="classe"
				id="classe" ng-model="dfu.classe">
				<option ng-repeat="option in listaStatus" ng-value="option.nome">{{option.nome}}</option>
			</select>
		</div>
	</div>

	<div class="col-md-3">
		<div class="form-group ">
			<label>Tipos de Planejamento</label> <select class="form-control"
				name="modelo" id="modelo" ng-model="dfu.modelo">
				<option ng-repeat="option in listaPlanejamentos"
					ng-value="option.nome">{{option.nome}}</option>
			</select>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-2">
		<div class="controls form-group has-feedback">
			<label>Validade do modelo</label> <input type="date"
				class="form-control" ng-model="dfu.validadeModelo"
				name="validadeModelo" />
		</div>
	</div>

	<div class="col-md-2">
		<div class="controls form-group has-feedback">
			<label>Validade primeira saída</label> <input type="date"
				class="form-control" ng-model="dfu.validadePrimeiraSaida"
				name="validadePrimeiraSaida" />
		</div>
	</div>
</div>

<div class="row">
	<div ng-show="dfu.relacaoSku.length > 0">
		<div class="col-md-4">
			<label>Relação Sku</label>
			<div>
				<brm-show-data column="mapColumnsRelacao" data="dfu.relacaoSku"
					is-delete="true" />
			</div>
		</div>
	</div>
</div>

<brm-show-message />

