<div ng-controller="GrupoEditController">
	<form novalidate name="formulario" class="row">
		<div ng-include="'private/grupo/grupo-form'"></div>
	</form>
	
	<!-- Modal -->
	<div class="modal fade" id="idModalPerfil" tabindex="-1" role="dialog"
		aria-labelledby="modalPerfilLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header"> 
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="modalPerfilLabel">Adicionar Perfil</h4>
				</div>
				<div class="modal-body">
					<form novalidate name="modalPerfil">
						<div class="controls form-group has-feedback">
							<label class="control-label" for="name">Nome do Perfil</label>
							<select class="form-control"
								ng-options="per as per.nome for per in listaPerfis track by per.id"
								ng-model="selected"></select> 
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
					<button type="button" class="btn btn-primary"
						ng-click="addPerfil()">Adicionar</button>
				</div>
			</div>
		</div>
	</div>
</div>