
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-3"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/private/usuario/usuario-view"> <span
				class="glyphicon glyphicon-chevron-left btn-xs" aria-hidden="true"></span>
			</a>
		</div>
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-3">
			<button type="submit" class="btn btn-primary btn-sm navbar-btn">
				<span class="glyphicon glyphicon-check"></span> Salvar
			</button>
			<button type="submit" class="btn btn-danger btn-sm navbar-btn">
				<span class="glyphicon glyphicon-ok"></span> Salvar & Fechar
			</button>
			<button type="button" class="btn btn-success btn-sm navbar-btn"
				data-toggle="modal" data-target="#idModalGrupo">
				<span class="glyphicon glyphicon-book"></span> Adicionar Grupo
			</button>
		</div>
	</div>
</nav>
<div class="page-header text-center">
	<h1>Cadastro Usuario</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>


	<div class="row">
		<div class="col-md-3">
			<div class="controls form-group has-feedback">
				<label class="control-label" for="nome">Login</label> <input
					class="form-control" id="nome" ng-model="usuario.login" name="login"
					required /> <span ng-show="formulario.login.$valid"
					class="glyphicon glyphicon-ok form-control-feedback"></span> <span
					ng-show="!formulario.login.$valid"
					class="glyphicon glyphicon-remove form-control-feedback"></span>
			</div>
		</div>
		
		<div class="col-md-3">
			<div class="controls form-group has-feedback">
				<label class="control-label" for="nome">Senha</label> <input
					class="form-control" id="nome" ng-model="usuario.senha" name="senha"
					required /> <span ng-show="formulario.senha.$valid"
					class="glyphicon glyphicon-ok form-control-feedback"></span> <span
					ng-show="!formulario.senha.$valid"
					class="glyphicon glyphicon-remove form-control-feedback"></span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="controls form-group has-feedback">
				<label class="control-label" for="nome">Nome</label> <input
					class="form-control" id="nome" ng-model="usuario.nome" name="nome"
					required /> <span ng-show="formulario.nome.$valid"
					class="glyphicon glyphicon-ok form-control-feedback"></span> <span
					ng-show="!formulario.nome.$valid"
					class="glyphicon glyphicon-remove form-control-feedback"></span>
			</div>
		</div>
	</div>
	<div class="row">

		<div class="col-md-6">

			<div class="controls form-group has-feedback">
				<label class="control-label" for="nome">Cargo</label> <input
					class="form-control" id="cargo" ng-model="usuario.cargo"
					name="cargo" required /> <span ng-show="formulario.nome.$valid"
					class="glyphicon glyphicon-ok form-control-feedback"></span> <span
					ng-show="!formulario.cargo.$valid"
					class="glyphicon glyphicon-remove form-control-feedback"></span>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="controls form-group has-feedback">
				<label>Email</label> <input name="email" type="email"
					class="form-control" ng-model="usuario.email" required> <span
					ng-show="formulario.email.$valid"
					class="glyphicon glyphicon-ok form-control-feedback"></span> <span
					ng-show="!formulario.email.$valid"
					class="glyphicon glyphicon-remove form-control-feedback"></span>
			</div>
		</div>
	</div>

<div class="row">
	<div ng-show="usuario.grupos.length > 0">
		<div ng-if="usuario.grupos" class="col-md-4">
			<label>Grupos</label>
			<div>
				<brm-show-data column="mapColumnsGrupo" data="usuario.grupos"
					is-delete="true" />
			</div>
		</div>
	</div>
</div>