<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-3"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/private/fornecedor/fornecedor-view">
				<span class="glyphicon glyphicon-chevron-left btn-xs"
				aria-hidden="true"></span>
			</a>
		</div>
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-3">
			<button type="submit" class="btn btn-primary btn-sm navbar-btn">
				<span class="glyphicon glyphicon-check"></span> Salvar
			</button>
			<button type="submit" class="btn btn-danger btn-sm navbar-btn">
				<span class="glyphicon glyphicon-ok"></span> Salvar & Fechar
			</button>
			<button type="button" class="btn btn-success btn-sm navbar-btn"
				data-toggle="modal" data-target="#idModalContato">
				<span class="glyphicon glyphicon-book"></span> Adicionar Contato
			</button>
			<button type="button" class="btn btn-success btn-sm navbar-btn"
				data-toggle="modal" data-target="#idModalCentro">
				<span class="glyphicon glyphicon-home"></span> Adicionar Centro
			</button>
		</div>
	</div>
</nav>

<div class="row">
	<div class="col-md-2" style="text-align: center">
		<h3>Cadastro de Fornecedor</h3>
	</div>
	<div class="col-md-6">
		<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>

		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label>Razão Social</label> <input name="razaoSocial"
						class="form-control" ng-model="fornecedor.razaoSocial" required />
					<span
						ng-show="formulario.$submitted && formulario.razaoSocial.$error.required"
						class="form-control alert-danger"> Razão Social é
						obrigatório </span>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label>CNPJ</label> <input valid-number type="text" name="cnpj"
						class="form-control" ng-model="fornecedor.cnpj" maxlength="14"
						size="15" style="width: 150px;" required /> <span
						ng-show="formulario.$submitted && formulario.cnpj.$error.required"
						class="form-control alert-danger"> CNPJ é obrigatório </span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">

				<div class="form-group">
					<label>Nome Fantasia</label> <input name="nomeFantasia"
						class="form-control" ng-model="fornecedor.nomeFantasia" required />
					<span
						ng-show="formulario.$submitted && formulario.nomeFantasia.$error.required"
						class="form-control alert-danger"> Nome Fantasia é
						obrigatório </span>

				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>Descrição</label>
					<textarea name="descricao" class="form-control"
						ng-model="fornecedor.descricao" required></textarea>
					<span
						ng-show="formulario.$submitted && formulario.razaoSocial.$error.required"
						class="form-control alert-danger"> Descrição é obrigatório
					</span>
				</div>
			</div>
		</div>

		<div class="row" ng-show="fornecedor.contatos.length > 0">
			<div class="col-md-6">
				<label>Contatos</label>
				<div>
					<brm-show-data column="columns" data="fornecedor.contatos"
						is-delete="true" />
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div ng-show="fornecedor.centros.length > 0">
					<brm-show-data column="columns" data="fornecedor.centros"
						is-delete="true" />
				</div>
			</div>
		</div>

	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="idModalCentro" tabindex="-1" role="dialog"
	aria-labelledby="modalCentroLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="modalCentroLabel">Adicionar Centro</h4>
			</div>
			<div class="modal-body">bla</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
				<button type="button" class="btn btn-primary" ng-click="addCentro()">Adicionar</button>
			</div>
		</div>
	</div>
</div>