<form name="form" class="css-form" novalidate>
	<div>
		<div class="controls form-group has-feedback" >
		
			<label class="control-label" for="name">Nome do Contato</label> 
			
			<input class="form-control" type="text" id="name" ng-model="selectedContato.nome" name="fName">
		
		</div>

		<div class="form-group">
			<label>Telefone / Celular</label> <input type="number"
				name="telefone" class="form-control"
				ng-model="selectedContato.telefone.numero">
		</div>
		<div class="form-group">
			<label>Ramal</label> <input name="telefone"
				class="form-control" ng-model="selectedContato.telefone.ramal"
				>
		</div>
		<div class="form-group">
			<label>Celular</label> <input type="checkbox"
				ng-model="selectedContato.telefone.celular">
		</div>
	</div>

</form>