<!-- Modal -->
<div class="modal fade" id="idModalContato" tabindex="-1" role="dialog"
	aria-labelledby="modalContatoLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="modalContatoLabel">Adicionar
					Contato</h4>
			</div>
			<div class="modal-body">
				<div>
					<div class="controls form-group has-feedback">

						<label class="control-label" for="name">Nome do Contato</label> <input
							class="form-control" type="text" id="name"
							ng-model="selectedContato.nome" name="fName" ng-minlength="3"
							ng-maxlength="40" maxlength="40" required />

						<!-- <span ng-show="formulario.form.fName.$valid" class="glyphicon glyphicon-ok form-control-feedback" /> 
				<span ng-show="!formulario.form.fName.$valid"  class="glyphicon glyphicon-remove form-control-feedback" /> -->

					</div>


					<div class="form-group">
						<label>Telefone / Celular</label> <input type="number"
							name="telefone" class="form-control"
							ng-model="selectedContato.telefone.numero" required>
					</div>
					<div class="form-group">
						<label>Ramal</label> <input name="telefone" class="form-control"
							ng-model="selectedContato.telefone.ramal" required>
					</div>

					<div class="col-md-2">
						<div class="form-group">
							<input type="checkbox" id="celular" class="form-control"
								ng-model="selectedContato.telefone.celular" name="celular" /><label
								for="celular"><span></span>Celular</label>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
				<button type="button" class="btn btn-primary"
					ng-click="addContato()">Adicionar</button>
			</div>
		</div>
	</div>
</div>
