
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div ng-controller="FornecedorController">
	<div class="page-header text-center">
		<h1>Cadastro Fornecedor</h1>
	</div>

	<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>

	<form novalidate name="formulario" class="row" ng-submit="submeter()">
		<div class="col-md-6">
			<div class="form-group">
				<label>Razão Social</label> <input name="razaoSocial"
					class="form-control" ng-model="fornecedor.razaoSocial" required>
					<span ng-show = "formulario.$submitted && formulario.razaoSocial.$error.required"
				class="form-control alert-danger">
				Razão Social é obrigatório
			</span>
			</div>
			<div class="form-group">
				<label>Nome Fantasia</label> <input name="nomeFantasia" class="form-control"
					ng-model="fornecedor.nomeFantasia" required>
					<span ng-show = "formulario.$submitted && formulario.nomeFantasia.$error.required"
				class="form-control alert-danger">
				Nome Fantasia é obrigatório
			</div>
			<div class="form-group">
				<label>Descrição</label> <input name="descricao" class="form-control"
					ng-model="fornecedor.descricao" required>
					<span ng-show = "formulario.$submitted && formulario.razaoSocial.$error.required"
				class="form-control alert-danger">
				Descrição é obrigatório
			</div>
			<div class="form-group">
				<label>CNPJ</label> <input name="cnpj" class="form-control"
					ng-model="fornecedor.cnpj" required>
					<span ng-show = "formulario.$submitted && formulario.cnpj.$error.required"
				class="form-control alert-danger">
				CNPJ é obrigatório
			</div>
						
			<button type="submit" class="btn btn-primary"
				>Salvar</button>
			<a href="#/private/fornecedor/fornecedor-view" class="btn btn-primary">Voltar</a>
			<hr>
		</div>

	</form>

</div>